*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}
html,
body {
  height: 100%;
  line-height: 1;
}
textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}

/************************************************************************************/

body {
  font-family: Lora;
  height: 100%;
  background-color: #f8f9fa;
}

main {
  flex: 1 1 auto;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: clip;
}

[class*="__container"] {
  max-width: 1330px;
  margin: 0 auto;
  padding: 0 15px;
}

/********************* HEADER ***************************/

.header {
  background-color: rgba(0, 0, 0, 0.2);
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 50;
  left: 0;
  top: 0;
}
.header__container {
  height: 100%;
}
.header__body {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  max-width: 104px;
}
.header__list {
  width: 100%;
  column-gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header__link {
  font-family: Roboto;
  display: block;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #e5e5e5;
  transition: all 0.3s ease 0ms;
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 50%;
  height: 2px;
  width: 0;
  transition: all 0.3s;

  background-color: #d4a373;
}
.header__link.active::after,
.header__link:hover::after {
  width: 100%;
  left: 0;
}

/***************************************** FOOTER *****************************************/

.footer {
  background-color: #343a40;
  height: 80px;
  width: 100%;
}
.footer__container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #e5e5e5;
}
.footer__up {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  /* identical to box height */

  color: #e5e5e5;
  cursor: pointer;
}
.footer__up:hover {
  text-decoration: underline;
}

/*****************************************************************/
.home {
  position: relative;
}
.home__sections {
  display: grid;
  gap: 100px;
}

@media (max-width: 991.98px) {
  .home__sections {
    gap: 70px;
  }
}
/**********************************/
.home__main-slider {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.main-slider__wrapper {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #343a40;
}

.main-slider__slide {
  width: 100%;

  flex-shrink: 0;
  position: relative;
  overflow: hidden;

  top: 0;
  left: 0;
  opacity: 0.3;

  transition: all 0.5s ease-in-out 200ms;
}
.main-slider__slide.active-slide {
  opacity: 1;

  position: absolute;
}

.main-slider__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  opacity: 0.8;
  z-index: 2;
  max-height: 600px;
}

.main-slider__container {
  min-height: 100%;
  max-height: 600px;
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 15px;
  padding-top: 283px;
  padding-bottom: 140px;
}
.main-slider__category {
  margin-bottom: 15px;
}
.category {
  font-family: Roboto;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  text-align: right;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  padding: 5px 10px;
  transition: all 0.3s;
}
.category:hover {
  background-color: rgba(68, 60, 60, 0.214);
}
.main-slider__title {
  margin-bottom: 13px;
}
.title {
  font-family: Lora;

  font-weight: 700;
  font-size: 36px;
  line-height: 127%;

  color: #ffffff;
  max-width: 530px;
}
.main-slider__body {
  display: flex;

  justify-content: flex-start;
}
.main-slider__date {
  font-family: Lora;

  font-weight: 400;
  font-size: 12px;
  line-height: 167%;

  color: #e5e5e5;
  margin-right: 51px;
  position: relative;
}
.main-slider__date::after {
  content: "";
  background-color: #e5e5e5;
  height: 1px;
  width: 30px;
  position: absolute;
  right: -40px;
  bottom: 30px;
}

.main-slider__text {
  max-width: 420px;
}
.text {
  font-family: Lora;

  font-weight: 400;
  font-size: 12px;
  line-height: 167%;

  color: #e5e5e5;
}

.bullets {
  position: relative;
  z-index: 2;
  height: 8px;
}
.bullets__container {
  position: relative;
  height: 100%;
}
.bullets__items {
  display: flex;
  align-items: center;
  margin-top: -140px;
  height: 100%;
}
.bullets__items .swiper-pagination-bullet {
  flex: 0 0 0.5rem;
  height: 0.5rem;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.2;
  transition: opacity 0.3s;
  cursor: pointer;
}

.bullets__items .swiper-pagination-bullet-active {
  opacity: 1;
}

.main-slider__pagination {
  position: relative;
  bottom: 0;
  left: 0;
  width: 44px;
  height: 8px;

  z-index: 10;
  display: flex;
  column-gap: 10px;
}
.pag {
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  position: relative;
}
.pag.active {
  background-color: rgb(255, 255, 255);
}

.sometext__after {
  position: relative;
}

/************************************************* Topics************************************************/

.home__topics {
  width: 100%;
}

.topics__container {
  margin-top: 100px;

  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 100px;
  height: 100%;
}
.topics__header {
  display: flex;

  justify-content: space-between;
  align-items: center;
}
.topics__title {
  max-width: 250px;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  font-size: 36px;
  line-height: 165%;

  color: #495057;
}
.topics__tab-buttons {
  max-width: 350px;
  display: flex;
  width: 100%;
  column-gap: 20px;
}
.topics__tab-button {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 179%;
  border-radius: 5px;
  padding: 0 3px;

  color: #495057;
  transition: all 0.3s;
}
.topics__tab-button:hover,
.topics__tab-button.active {
  background-color: #181c20;
  color: #e5e5e5;
}
.topics__tabs {
  margin-top: 45px;
}

.tabs__all {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: auto;

  column-gap: 20px;
  row-gap: 50px;
}

.tabs-card {
  display: none;
  flex-direction: column;
  position: relative;
  max-width: 310px;
}
.tabs-card.active {
  display: flex;
}
.tabs-card__image {
  max-width: 310px;
  max-height: 280px;
  position: relative;
  height: 280px;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.tabs-card__image img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}
.tabs-card__category {
  position: relative;
  top: 20px;
  right: -27px;
  z-index: 2;

  height: 100%;

  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.3s;
}
.tabs-card__category:hover {
  background-color: rgba(68, 60, 60, 0.214);
}
.tabs-card__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 125%;
  display: flex;
  align-items: center;

  color: #6c757d;
  margin-bottom: 15px;
}
.tabs-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;

  color: #495057;
  margin-bottom: 15px;
}
.tabs-card__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;

  color: #6c757d;
}

/****************************** BIG POST *********************************/

.big-post {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
  @media (max-width: 767.98px) {
    height: 600px;
  }
}
.big-post__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: url("../img/big-post/image.jpg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  @media (max-width: 767.98px) {
    background-size: 1440px 600px;
  }
}

.big-post__content {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 3;
  padding-top: 242px;
  padding-bottom: 242px;
  @media (max-width: 767.98px) {
    padding-top: 142px;
    padding-bottom: 142px;
  }
}
.big-post__category {
  border-radius: 8px;
  margin-bottom: 13px;
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s;

  color: #ffffff;
}
.big-post__category:hover {
  background-color: rgba(68, 60, 60, 0.214);
}
.big-post__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  text-align: center;

  color: #ffffff;
  margin-bottom: 13px;
}
.big-post__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;

  text-align: center;

  color: #e5e5e5;
  margin-bottom: 13px;
}
.big-post__author {
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;

  text-align: center;

  color: #ffffff;
}

/*************************** Related Posts ******************************/

.related-posts__container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 100px;
}
.related-posts__head {
  width: 100%;
  height: 100%;
}
.related-posts__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 69%;

  color: #495057;
}
.related-posts__body {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 45px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
}

.post {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 420px;
  border-radius: 8px;
  overflow: hidden;
}
.post__category {
  top: 20px;
  right: 20px;
  position: absolute;
  font-weight: 700;
  border-radius: 8px;
  font-size: 10px;
  line-height: 120%;
  z-index: 3;
  color: #ffffff;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
}
.post__category:hover {
  background-color: rgba(68, 60, 60, 0.214);
}
.post__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.post__bg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
.post__content {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  padding: 153px 40px 42px 40px;
}
.post__date {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #e5e5e5;
  margin-bottom: 15px;
}
.post__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 139%;

  color: #ffffff;
  margin-bottom: 15px;
}
.post__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;

  color: #e5e5e5;
}

/***************************************************88*************************

ARTICLE

*********************************************************************************/

.banner {
  margin-bottom: 100px;
}
.banner__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  max-height: 600px;
}
.banner__bg img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.banner__container {
  height: 100%;
  padding-top: 194px;
  padding-bottom: 194px;
}
.banner__body {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
  justify-content: center;
  align-items: center;
}
.banner__category {
  position: relative;
  font-weight: 700;
  border-radius: 8px;
  font-size: 10px;
  line-height: 120%;
  z-index: 3;
  color: #ffffff;
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.15);
  transition: all 0.3s;
  margin-bottom: 18px;
}
.banner__category:hover {
  background-color: rgba(68, 60, 60, 0.214);
}

.banner__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 165%;
  margin-bottom: 13px;
  text-align: center;
  max-width: 530px;

  color: #ffffff;
}
.banner__text {
  font-weight: 400;
  font-size: 12px;
  line-height: 167%;

  margin-bottom: 13px;
  text-align: center;

  color: #e5e5e5;
}
.banner__author {
  font-weight: 700;
  font-size: 12px;
  line-height: 167%;

  text-align: center;

  color: #ffffff;
}

.post-article__container {
  margin-bottom: 50px;
}
.post-article__body {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  column-gap: 50px;
}
.post-article__date {
  font-weight: 700;
  font-size: 12px;
  line-height: 208%;
  position: relative;

  color: #495057;
}
.post-article__date::after {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #c4c4c4;
  position: absolute;
  top: 12px;
  right: -42px;
}
.post-article__time {
  font-weight: 700;
  font-size: 12px;
  max-width: 57px;
  line-height: 208%;
  width: 100%;

  color: #495057;
}
.post-article__par {
  font-weight: 400;
  font-size: 14px;
  line-height: 179%;

  color: #495057;
}
.post-article__par span {
  color: #d4a373;
  font-size: 36px;
  line-height: 165%;
}

.post-article__info {
  margin-top: 55px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding-left: 21%;
}
.post-article__categories {
  width: 100%;
  max-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  margin-bottom: 105px;
}
.post-article__category {
  font-weight: 700;
  font-size: 10px;
  line-height: 120%;
  color: #6c757d;
}
.post-article__author {
  display: flex;
}
.post-article__avatar {
  margin-right: 17px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
}
.post-article__avatar img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  object-fit: cover;
}
.post-article__names {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post-article__name {
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #495057;
}
.post-article__prof {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  /* or 167% */

  color: #6c757d;
}

@media (max-width: 1023.98px) {
}

@media (max-width: 967.98px) {
  .tabs__all {
    grid-template-columns: repeat(auto-fill, 310px);
  }
  .related-posts__body {
    grid-template-columns: repeat(auto-fill, 380px);
    row-gap: 20px;
  }
}

@media (max-width: 677.98px) {
  .post-article__body {
    flex-direction: column;
    row-gap: 10px;
  }
  .topics__container {
    margin-top: 50px;
  }
  .banner {
    margin-bottom: 0px;
  }

  .title {
    max-width: 450px;
  }
  .text {
    max-width: 350px;
  }
  .main-slider__date::after {
    bottom: 50px;
    width: 25px;
    right: -35px;
  }
  .main-slider__date {
    margin-right: 45px;
  }
  .topics__header {
    flex-wrap: wrap;
  }
  .topics__title {
    margin-bottom: 15px;
  }
  .topics__tab-buttons {
    max-width: 280px;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
  }
}

@media (max-width: 519.98px) {
  .title {
    max-width: 400px;
  }
  .banner__container {
    padding-top: 90px;
  }

  .text {
    max-width: 300px;
  }
  .tabs__all {
    grid-template-columns: auto;
  }
  .related-posts__body {
    grid-template-columns: auto;
    padding-top: 50px;
  }
}
@media (max-width: 379.98px) {
  .title {
    max-width: 380px;
  }
  .text {
    max-width: 250px;
  }
  .main-slider__date::after {
    bottom: 70px;
    width: 20px;
    right: -25px;
  }
  .main-slider__date {
    margin-right: 30px;
  }
}
